@using global::FormBuilder.Models

<RadzenRow class="vh-100">
    <RadzenColumn Size="8" SizeMD="9" SizeLG="10">
        <DropZone1 class="min-vh-100" TData="Action" Drop="HandleDropField" Zone="FieldsZone">
            <ul class="list-group">
                @foreach (var field in _formDefinition.Fields)
                {
                    <Dragable Data="field" Zone="FieldItemZone">
                        <li class="list-group-item" onclick="@(() => SelectField(field))">
                            <DropZone1 TData="Field" Zone="FieldItemZone" Drop="@((droppingField) => SwapFields(field, droppingField))">
                                <FormField Field="field" Disabled="true">
                                    <Append>
                                        <RadzenButton
                                            Icon="delete"
                                            Size="ButtonSize.Small"
                                            ButtonStyle="ButtonStyle.Danger"
                                            Click="@(() => RemoveField(field))">
                                        </RadzenButton>
                                    </Append>
                                </FormField>
                            </DropZone1>
                        </li>
                    </Dragable>
                }
            </ul>
        </DropZone1>
    </RadzenColumn>
    <RadzenColumn Class="border bg-light px-1" Size="4" SizeMD="3" SizeLG="2">
        <RadzenStack Class="border-bottom mt-2 pb-2" Orientation="Orientation.Vertical">
            <RadzenText TextStyle="TextStyle.H5" TextAlign="TextAlign.Center">Fields</RadzenText>
            <Dragable Data="() => AddField(FieldType.Text)" Zone="FieldsZone">
                <RadzenButton Class="w-100" Text="Text Field" Click="@(() => AddField(FieldType.Text))"/>
            </Dragable>
            <Dragable Data="() => AddField(FieldType.NumericInt)" Zone="FieldsZone">
                <RadzenButton Class="w-100" Text="Integer Field" Click="() => AddField(FieldType.NumericInt)"/>
            </Dragable>
            <Dragable Data="() => AddField(FieldType.NumericDouble)" Zone="FieldsZone">
                <RadzenButton Class="w-100" Text="Decimal Field" Click="() => AddField(FieldType.NumericDouble)"/>
            </Dragable>
            <Dragable Data="() => AddField(FieldType.Date)" Zone="FieldsZone">
                <RadzenButton Class="w-100" Text="Date Field" Click="() => AddField(FieldType.Date)"/>
            </Dragable>
            <Dragable Data="() => AddField(FieldType.Select)" Zone="FieldsZone">
                <RadzenButton Class="w-100" Text="Add Select Field" Click="() => AddField(FieldType.Select)"/>
            </Dragable>
        </RadzenStack>
        <RadzenStack Class="mt-3" Orientation="Orientation.Vertical">
            <RadzenText TextStyle="TextStyle.H5" TextAlign="TextAlign.Center">Properties</RadzenText>
            <PropertyEditor @bind-SelectedField="_selectedField"/>
            <RadzenButton Text="Save Form"/>
        </RadzenStack>
    </RadzenColumn>
</RadzenRow>
